{%  extends 'dashboard/baseadmin.html' %}
{% load static %}
{% block content %}
    <div class="flat-title-page">
        <div class="themesflat-container">
            <div class="row">
                <div class="col-12">
                    <h1 class="heading text-center">Tier List</h1>
                    <ul class="breadcrumbs flex justify-center">
                        <li class="icon-keyboard_arrow_right">
                            <a href="index.html">Home</a>
                        </li>
                        <li>
                            <a href="#">Explore</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="tf-section-2 discover-item loadmore-12-item">
        <div class="themesflat-container">

            <div class="product-item item-activity mb-0">
                <h6>
                    <div class="column flex items-center">
                        <div class="widget-pagination">
                            <ul class="justify-center">
                                <li>
                                    <a href="{% url 'karakteradd' %}">+</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </h6>
                <i class="icon-keyboard_arrow_down"></i>
                <div class="content">
                    <div class="table-heading">
                        <div class="column">Name</div>
                        <div class="column">Role</div>
                        <div class="column">Difficulty</div>
                        <div class="column">Description</div>
                        <div class="column">Action</div>

                    </div>
                    {% for karakter in karakter %}
                        <div class="table-item">

                            <div class="column flex items-center">{{ karakter.name }}</div>
                            <div class="column flex items-center">{{ karakter.role|default:"-" }}</div>
                            <div class="column flex items-center"><span
                                    class="tf-color">{{ karakter.difficulty|default:"-" }}</span></div>
                            <div class="column flex items-center"><span
                                    class="tf-color">{{ karakter.tier|default:"-" }}</span></div>
                            <div class="column flex items-center" id="wallet-header">
                                <a href="{% url 'karakterdelete' karakter.id %}" id="connectbtn"
                                   class="widget-pagination mr-2">
                                    <button>
                                        <span>Hapus</span>
                                    </button>
                                </a>
                                <a href="{% url 'karakterupdate' karakter.id %}" id="connectbtn"
                                   class="widget-pagination">
                                    <button>
                                        <span>Update</span>
                                    </button>
                                </a>
                            </div>

                        </div>
                        {% empty %}
                        <p>Tidak ada karakter yang tersedia.</p>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
